:root{
    --color-dark-grey: #272727;
}

* {
    margin: 0;
    padding: 0;
}


.gallery{
    position: relative;
}

.back, .forwards {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.forwards {
    right: 0;
}



.gallery-content{
    height: 100%;
    width: 100%;
    background: var(--color-dark-grey);
    display:flex;
    justify-content: center;
    align-items: center;
}

.slide{
    text-align: center;
}

.slide-img{
    height: 80%;
    width: auto;
    margin: auto;
    animation: slide-in 0.5s ease;

}

.slide-img > img {
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
  
}

.slide-caption {
    color: white;
    animation: slide-up 0.5s ease;

}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(2rem);
      }
    
      to {
        opacity: 1;
      }

}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
      }
    
      to {
        opacity: 1;
      }

}