@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');


@keyframes slideup {
    from {
        opacity: 0.5;
        transform: translate(0px, 10px);
    }
    90%{
        transform: translate(0px, -1px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

:root {
    --tool-tip-color: #555;
    --tool-tip-divider-color: #666;
    --tool-tip-icon-color: #999;
    --background-color: #111;
    --text-color: #fff;
  }


body {
    background: var(--background-color);
}

::selection{
    background: #fff2a8;
    color: var(--background-color);
}

.article{
    display: flex;
    margin: auto;
    max-width: 60ch;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5em;
    color: var(--text-color);

}


.tooltip {
    animation: slideup 0.1s ease-out;
    display: flex;
    justify-content: space-around;
    user-select: none;
    width: 10rem;
    height: 2rem;
    background: var(--tool-tip-color);
    text-align: center;
    position: absolute;
    border-radius: 9999px;
    padding: 0.5rem 0.2rem 0.2rem 0.4rem;
  }
  
  .tooltip__tail {
    animation: slideup 0.1s ease-out;
    width: 0; 
    height: 0; 
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--tool-tip-color);
  }

  .tooltip__icon {
    vertical-align: bottom;
    width: 2rem;
    height: 2rem;
    text-align: center;
  }

  .tooltip__divider {
    display: inline-block;
    width: 0.1rem;
    height: 80%;
    vertical-align: top;
    border-left: 2px solid var(--tool-tip-divider-color);
  }
  

  .tooltip__icon__svg {
      width: 100%;
      height: 100%;
      fill: var(--tool-tip-icon-color);
  }

