
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record-container{
    display:flex;
    flex-direction: column;
    background-color: aliceblue;

    padding: 24px;
    border-radius: 24px;

}

.spinner-container{
    position: relative;
}

.spinner-arm{
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: blue;
    transform-origin: top left;
    transition: 0.6s ease;
}

.spinner-arm.rotated{
    transform: rotate(-45deg);
}


.image-container img{
    border-radius: 50%;
    height: 100px;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}




@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
